In [1]:
import pandas as pd

считываем данные из файла

In [34]:
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа.

In [41]:
sex_counts = data['Sex'].value_counts()
print('Мужчин на корабле: ', sex_counts['male'], '\nЖенщин на корабле: ', sex_counts['female'])

Мужчин на корабле:  577
Женщин на корабле:  314

2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах, округлив до двух знаков.

In [49]:
count_of_survived = data['Survived'].value_counts()[1]
all_passengers = len(data['Survived'].index)
proportion = round(100.0 * count_of_survived / all_passengers, 2)
print(proportion, 'части пассажиров удалось выжить')

342
891
38.38 части пассажиров удалось выжить

3.  Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах округлив до двух знаков.

In [51]:
count_first_class = data['Pclass'].value_counts()[1]
all_passengers = len(data['Pclass'].index)
proportion = round(100.0 * count_first_class / all_passengers, 2)
print(proportion, 'доля пассажиров первого класса')

24.24 доля пассажиров первого класса

4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа.

In [24]:
mean_age = round(data['Age'].mean(), 2)
median_age = data['Age'].median()
print('Среднее', mean_age)
print('Медиана', median_age)

Среднее 29.7
Медиана 28.0

5. Коррелируют ли число братьев/сестёр с числом родителей/детей? Посчитайте корреляцию между признаками SibSp и Parch.

In [28]:
import numpy as np
corr = round(np.corrcoef(data['SibSp'], data['Parch'])[0, 1], 2)
print(corr)

0.41

Значение корреляции меньше 0.5, значит братья/сёстры слабо коррелированы с родителями/детьми.

6. Какое самое популярное женское имя на корабле?

In [57]:
def parse_first_name_female(name):
    first = name.str.extract(r"Mrs\.\s+[^(]*\((\w+)", expand=False)
    first.loc[first.isna()] = name.str.extract(r"\.\s+(\w+)", expand=False)
    return first

female_names = parse_first_name_female(data.loc[data['Sex'] == 'female', 'Name'])
female_names.value_counts()

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         7
             ..
Wendla        1
Phyllis       1
Irene         1
Vera          1
Fatima        1
Name: Name, Length: 177, dtype: int64